@font-face {
 font-family: poppins;
 src: url(../../fonts/Poppins-Regular.ttf);
}

@font-face {
 font-family: light-poppins;
 src: url(../../fonts/Poppins-ExtraLight.ttf);
}

@font-face {
 font-family: semi-poppins;
 src: url(../../fonts/Poppins-SemiBold.ttf);
}

@font-face {
 font-family: bold-poppins;
 src: url(../../fonts/Poppins-Bold.ttf);
}

@font-face {
 font-family: extra-poppins;
 src: url(../../fonts/Poppins-ExtraBold.ttf);
}